[submodule "frontend"]
	path = frontend
	url = https://github.com/wickes1/fullstack-react-flask-overview-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/wickes1/fullstack-react-flask-overview-backend.git
